body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-nav {}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;

}

.header-nav:hover, .header-nav:focus {
    color: #404BBF;
}

.header-logo .header-logo-accent {
    color: #4D5AE5;
}


.nav-list {
    font-weight: 500;
        line-height: 1.5;
        color: #2E2F42;
}

.nav-link {}

.contact-list {
    font-style: normal;
        line-height: 1.5;
        color: #2E2F42;
}

.contact-item:hover, .contact-item:focus {
    color: #404BBF;
}

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        color: #FFFFFF;
}

.button-order-service {
    font-family: Roboto, sans-serif;
    background: #4D5AE5;
    font-weight: medium;
    letter-spacing: 0.04em;
}

.section-title-features {}

.features-list {}

.features-list-item {}

.features-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2E2F42;
}

.features-text {
        line-height: 1.5;
        color: #434455;
}

.section-title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
}

.team-section {
    background-color: #F4F4FD;
}

.team-list {}

.team-list-item {}

.team-img {
background: #FFFFFF;
}

.team-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        color: #2E2F42;
}

.team-text {
        line-height: 1.5;
        text-align: center;
        color: #434455;
}

.section-title-portfolio {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        color: #2E2F42;
}

.portfolio-list {}

.portfolio-item {}

.portfolio-img {}

.portfolio-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2E2F42;
}

.portfolio-text {
        line-height: 1.5;
        color: #434455;
}

.footer-section {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: Raleway, sans-serif;   
    font-weight: 700;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #F4F4FD;
        
}

.footer-logo .footer-logo-accent {
    color: #4D5AE5;
    
}
.footer-logo:hover,
.footer-logo:focus {
    color: #404BBF;
}

.footer-text {
        line-height: 1.5;
        color: #F4F4FD;
}